.header
{
  background-color: black;
  width: auto;
  height: 60px;

}

.logo-sie
{
  position: absolute;
  top: -43px;
  float: left;
  left: -20px;
}
.logo-text > ul
{
  color: #FFFFFF;
  font-family: OratorStd;
  font-size: 1em;
  position:absolute; /* para mover donde quiera */
  top:4px;
  left:50px;
  float: left; /* para mantener el logo a la izquierda sin mover los botones del menu */
  list-style: none;
}

.body
{
  background-color: #ECECEC;

}



#btns-menu
{
  position: absolute;
  float: right;
  left: -15px; /* recorrer a la izq  los botones del menu */
  top: 15px;
}
/*######### TITULO EXAMEN DIAGNOSTICO ####### */
#titulo-examen-d
{
  color: #093F40;
}

.linea-titulo-examen-d
{
  width: 1120px;
  height: 10px;
  background-color: #E13C3C;
}




#fechas-d
{
  color: #FFFFFF;
  font-family: OratorStd;
  font-size: 2em;
  position: relative; /* Mover en relacion con el objeto mas cercano*/
  top: 6px;
  text-align: center;
}
/* ######## HEADER TABLA DE FECHAS ####### */
.table-header-fecha-ed
{
  background-color: #08544C;
  width: 400px;
  height: 30px;
  position: relative;
  left: left;
  top: auto;
}
/* ######## HEADER REGISTRO ####### */
.table-header-registro-ed
{
  background-color: #08544C;
  width: 400px;
  height: 30px;
  position: relative;
  left: 410px;
  top: -40px;
}
/* ######## HEADER HORARIOS ####### */
.table-header-horarios-ed
{
  background-color: #08544C;
  width: 300px;
  height: 30px;
  position: relative;
  left: 820px;
  top: -80px;
}
/* ######## TABLA FECHAS/REGISTRO/HORARIOS ####### */
#table-fechas-d
{
 position: absolute;
 top: 250px;
 float: left;
 left:  71px;
}
/* ######## RENGLONES TABLA FECHAS/REGISTRO/HORARIOS ####### */
#row-fecha-ed
{
  text-align: center;
  font-family: OratorStd;
  font-size: 20px;
  color: #535353;
  left: left;
  position: relative;
  width: 390px;;
  height: 20px;
  top :-50px;
  box-shadow: 2px 2px 5px #999; /* Efecto de sombra*/
}
#row-registro-ed
{
  text-align: center;
  font-family: OratorStd;
  font-size: 20px;
  color: #535353;
  left: 20px;
  position: relative;
  width: 390px;
  height: 20px;
  top :-50px;
  box-shadow: 2px 2px 5px #999; /* Efecto de sombra*/

}
#row-horario-ed
{
  font-size: 20px;
  color: #535353;
  text-align: center;
  font-family: OratorStd;
  left: 35px;
  position: relative;
  width: 300px;;
  height: 20px;
  top :-50px;
  box-shadow: 2px 2px 5px #999; /* Efecto de sombra*/
}

.fecha
{
  text-align: center;
  font-family: OratorStd;
  font-size: 1.3em;
  color: #5A5A5A;
  text-decoration: none;

}




#fecha-i
{
  font-family: OratorStd;
  font-size: 1.3em;
  color: #5A5A5A;
  text-align: left;
}
/* ####### BOTON ALTA FECHA EXAMEN ####### */
#btn-alta-fechaED
{
  left: 800px;
  position: absolute;
  top: 85px;
  width: 20%;
}
/* ####### BOTON VER INFO ####### */
#btn-info
{
  left: 610px;
  position: absolute;
  top: 85px;
  width: 10%;
}

#alert-registro-exitoso
{
  position: absolute;
  top: 60px;
  width: 1120px;
}

#agregar_fecha
{
  left: 320px;
  top: -173px;
  position: absolute;
}

#row-eliminar-ed
{
  position: relative;
  left: -50px;
  top: -50px;


}
