.header
{
  background-color: #093F40;
  width: auto;
  height: 60px;
}

.logo-sie
{
  position: absolute;
  top: -43px;
  float: left;
  left: -20px;
}

.logo-text > ul
{
  color: #FFFFFF;
  font-family: OratorStd;
  font-size: 1em;
  position:absolute; /* para mover donde quiera */
  top:4px;
  left:50px;
  float: left; /* para mantener el logo a la izquierda sin mover los botones del menu */
  list-style: none;
}

#footer
{
  background-color: #093F40;
  width: auto;
  height: 200px;
  bottom: -120px;
  position: relative;
}

#image-fecha
{
  position: relative;
  top: 40px;
  width: 500px;
  box-shadow: 2px 2px 5px #999;
}

.header-solicitar
{
  width: 600px;
  height: 30px;
  background-color: #F05151;
  position: absolute;
  top: 100px;
  right: 100px;
  box-shadow: 2px 2px 5px #999;
}

.text-solicitar
{
  top: -18px;
  position: absolute;
  font-family: OratorStd;
  color: white;
  left: 150px;
}
.body-solicitar
{
  width: 600px;
  height: 600px;
  position: absolute;
  right: 100px;
  top: 140px;
}
.body-solicitar-info-1
{

  border-top: 4px solid #1DC7CA;
  border-right: 4px solid #1DC7CA;
  border-bottom: 4px solid #1DC7CA;
  border-left: 4px solid #1DC7CA;
  position: relative;
  box-shadow: 2px 2px 5px #999;
}
.body-solicitar-info-2
{
  top: 4px;
  border-top: 4px solid #6DE95C;
  border-right: 4px solid #6DE95C;
  border-bottom: 4px solid #6DE95C;
  border-left: 4px solid #6DE95C;
  position: relative;
  box-shadow: 2px 2px 5px #999;

}

.body-solicitar-info-3
{
  top: 7px;
  border-top: 4px solid #F05151;
  border-right: 4px solid #F05151;
  border-bottom: 4px solid #F05151;
  border-left: 4px solid #F05151;
  position: relative;
  box-shadow: 2px 2px 5px #999;

}

.body-solicitar-info-4
{
  top: 10px;
  border-top: 4px solid #FB9835;
  border-right: 4px solid #FB9835;
  border-bottom: 4px solid #FB9835;
  border-left: 4px solid #FB9835;
  position: relative;
  box-shadow: 2px 2px 5px #999;

}

.body-text-info
{
  text-align: center;
  font-family: OratorStd;
  color: #696969;
}

.btn-inscripcion
{
  position: relative;
  text-align: center;
  top: -4px;
}

#mensaje
{
  box-shadow: 2px 2px 5px #999;
  position: relative;
  text-align: center;
  top: 50px;
}

#image-footer
{
   width: 270px; height: 70px;
   position: absolute;
   bottom: 21px;
   left: 233px;

}
.text-footer
{
  font-family: OratorStd;
  color: #FFFFFF;
}
#row1
{

  position: absolute;
  top: 21px;
  left: 210px;
}
#row2
{

  position: absolute;
  top: 50px;
  left: 281px;
}

.linea-footer
{
  width: 1px;
  height: 160px;
  background-color: #FFFFFF;
  position: absolute;
  left: 500px;
  top: 30px;
}

#row3
{

  position: absolute;
  top: 100px;
  left: 502px;
}
#row4
{
  position: absolute;
  top: 130px;
  left: 502px;
}
#image-footer2
{
   width: 200px; height: 200px;
   position: absolute;
   right: 150px;

}
